*{
  padding: 0;
  margin: 0;
}

body{
  background-image: url("/original.jpg");
  background-size: cover;
}

.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    top: 40%;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial,sans-serif;
    color: #fff;
    width: 60%;
}
@keyframes messi {
    0% {left:0vw; transform: rotate(0deg);}
    50% {left: calc(100svw - 460px);transform: rotate(180deg)}
    100% {left: 0vw;transform: rotate(0deg)}
}
#messi{
    position: absolute;
    left: 0;
    top: 0;
    width: 450px;
    height: 450px;
    animation: messi 10s infinite forwards linear;
}